USE [master]
GO
/****** Objeto: Database [BD_64PR] Fecha de script: 23/9/2026 23:32:21 ******/
CREATE DATABASE [BD_64PR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_64PR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\BD_64PR.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_64PR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\BD_64PR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_64PR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_64PR]
GO
/****** Objeto: Table [dbo].[DV_64PR] Fecha de script: 23/9/2026 23:32:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DV_64PR](
	[Tabla] [nvarchar](100) NOT NULL,
	[DV] [bigint] NOT NULL,
 CONSTRAINT [PK_DV_64PR] PRIMARY KEY CLUSTERED 
(
	[Tabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DVH_64PR] Fecha de script: 23/9/2026 23:32:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVH_64PR](
	[Tabla] [nvarchar](100) NOT NULL,
	[IdFila] [nvarchar](100) NOT NULL,
	[DVH] [bigint] NOT NULL,
 CONSTRAINT [PK_DVH_64PR] PRIMARY KEY CLUSTERED 
(
	[Tabla] ASC,
	[IdFila] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Evento_64PR] Fecha de script: 23/9/2026 23:32:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento_64PR](
	[Id_evento] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [time](7) NOT NULL,
	[Id_modulo] [int] NOT NULL,
	[Id_Tipo] [int] NOT NULL,
	[criticidad] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Familia_64PR] Fecha de script: 23/9/2026 23:32:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia_64PR](
	[ID_Familia] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Familia_N_64PR] Fecha de script: 23/9/2026 23:32:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia_N_64PR](
	[ID_FamiliaPadre] [int] NOT NULL,
	[ID_FamiliaHija] [int] NOT NULL,
 CONSTRAINT [PK_Familia_N_64PR] PRIMARY KEY CLUSTERED 
(
	[ID_FamiliaPadre] ASC,
	[ID_FamiliaHija] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Habitacion] Fecha de script: 23/9/2026 23:32:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habitacion](
	[IdHabitacion] [int] IDENTITY(1,1) NOT NULL,
	[Numero] [int] NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[Estado] [varchar](20) NOT NULL,
	[IdTipoHabitacion] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHabitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Huesped] Fecha de script: 23/9/2026 23:32:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Huesped](
	[IdHuesped] [int] IDENTITY(1,1) NOT NULL,
	[Dni] [varchar](10) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[CorreoElectronico] [varchar](100) NULL,
	[Telefono] [varchar](20) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHuesped] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Modulo_64PR] Fecha de script: 23/9/2026 23:32:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modulo_64PR](
	[Id_modulo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_modulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Pago] Fecha de script: 23/9/2026 23:32:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[IdPago] [int] IDENTITY(1,1) NOT NULL,
	[IdReserva] [int] NOT NULL,
	[MetodoPago] [varchar](20) NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[FechaPago] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Patente_64PR] Fecha de script: 23/9/2026 23:32:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patente_64PR](
	[ID_Patente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Patente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PatenteFamilia_64PR] Fecha de script: 23/9/2026 23:32:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatenteFamilia_64PR](
	[ID_Familia] [int] NOT NULL,
	[ID_Patente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Familia] ASC,
	[ID_Patente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Reserva] Fecha de script: 23/9/2026 23:32:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[IdReserva] [int] IDENTITY(1,1) NOT NULL,
	[FechaCheckIn] [date] NOT NULL,
	[FechaCheckOut] [date] NOT NULL,
	[CantidadPersonas] [int] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[IdHabitacion] [int] NOT NULL,
	[IdHuesped] [int] NULL,
	[FechaAlta] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Roles_64PR] Fecha de script: 23/9/2026 23:32:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles_64PR](
	[ID_Rol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RolFamilia_64PR] Fecha de script: 23/9/2026 23:32:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolFamilia_64PR](
	[ID_Rol] [int] NOT NULL,
	[ID_Familia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Rol] ASC,
	[ID_Familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RolPatente_64PR] Fecha de script: 23/9/2026 23:32:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolPatente_64PR](
	[ID_Rol] [int] NOT NULL,
	[ID_Patente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Rol] ASC,
	[ID_Patente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TipoEvento_64PR] Fecha de script: 23/9/2026 23:32:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoEvento_64PR](
	[Id_tipo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TipoHabitacion] Fecha de script: 23/9/2026 23:32:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoHabitacion](
	[IdTipoHabitacion] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Capacidad] [int] NOT NULL,
	[PrecioPorNoche] [decimal](10, 2) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipoHabitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[USUARIO_64PR] Fecha de script: 23/9/2026 23:32:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_64PR](
	[DNI] [nvarchar](20) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Contraseña] [varbinary](48) NOT NULL,
	[Rol] [int] NULL,
	[Email] [nvarchar](256) NULL,
	[Bloqueo] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
	[Intentos] [int] NOT NULL,
	[PrimeraVez] [bit] NOT NULL,
	[Idioma] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DV_64PR] ([Tabla], [DV]) VALUES (N'Familia_64PR', 0)
INSERT [dbo].[DV_64PR] ([Tabla], [DV]) VALUES (N'Familia_N_64PR', 0)
INSERT [dbo].[DV_64PR] ([Tabla], [DV]) VALUES (N'Patente_64PR', 26688)
GO
INSERT [dbo].[DVH_64PR] ([Tabla], [IdFila], [DVH]) VALUES (N'Patente_64PR', N'1', 1350)
INSERT [dbo].[DVH_64PR] ([Tabla], [IdFila], [DVH]) VALUES (N'Patente_64PR', N'10', 1877)
INSERT [dbo].[DVH_64PR] ([Tabla], [IdFila], [DVH]) VALUES (N'Patente_64PR', N'11', 1785)
GO
SET IDENTITY_INSERT [dbo].[Evento_64PR] ON 

INSERT [dbo].[Evento_64PR] ([Id_evento], [Login], [Fecha], [Hora], [Id_modulo], [Id_Tipo], [criticidad]) VALUES (935, N'admin', CAST(N'2026-09-06' AS Date), CAST(N'00:49:26.0033333' AS Time), 1, 1, 5)
INSERT [dbo].[Evento_64PR] ([Id_evento], [Login], [Fecha], [Hora], [Id_modulo], [Id_Tipo], [criticidad]) VALUES (936, N'admin', CAST(N'2026-09-06' AS Date), CAST(N'00:49:32.0900000' AS Time), 1, 5, 5)
INSERT [dbo].[Evento_64PR] ([Id_evento], [Login], [Fecha], [Hora], [Id_modulo], [Id_Tipo], [criticidad]) VALUES (937, N'admin', CAST(N'2026-09-06' AS Date), CAST(N'00:49:36.1300000' AS Time), 1, 1, 5)
GO
SET IDENTITY_INSERT [dbo].[Evento_64PR] OFF
GO
SET IDENTITY_INSERT [dbo].[Habitacion] ON 

INSERT [dbo].[Habitacion] ([IdHabitacion], [Numero], [Descripcion], [Estado], [IdTipoHabitacion], [Activo]) VALUES (9, 101, NULL, N'Disponible', 1, 1)
INSERT [dbo].[Habitacion] ([IdHabitacion], [Numero], [Descripcion], [Estado], [IdTipoHabitacion], [Activo]) VALUES (10, 102, NULL, N'Disponible', 1, 1)
INSERT [dbo].[Habitacion] ([IdHabitacion], [Numero], [Descripcion], [Estado], [IdTipoHabitacion], [Activo]) VALUES (11, 103, NULL, N'Disponible', 1, 1)
SET IDENTITY_INSERT [dbo].[Habitacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Huesped] ON 

INSERT [dbo].[Huesped] ([IdHuesped], [Dni], [Nombre], [Apellido], [FechaNacimiento], [CorreoElectronico], [Telefono], [Activo]) VALUES (1, N'30123456', N'Juan', N'Pérez', CAST(N'1985-04-12' AS Date), N'juan.perez@gmail.com', N'1155551234', 1)
INSERT [dbo].[Huesped] ([IdHuesped], [Dni], [Nombre], [Apellido], [FechaNacimiento], [CorreoElectronico], [Telefono], [Activo]) VALUES (2, N'28456789', N'María', N'González', CAST(N'1979-11-03' AS Date), N'maria.gonzalez@hotmail.com', N'1144443322', 1)
INSERT [dbo].[Huesped] ([IdHuesped], [Dni], [Nombre], [Apellido], [FechaNacimiento], [CorreoElectronico], [Telefono], [Activo]) VALUES (3, N'35789012', N'Lucas', N'Fernández', CAST(N'1993-07-22' AS Date), N'lucas.fernandez@gmail.com', N'1166778899', 1)
SET IDENTITY_INSERT [dbo].[Huesped] OFF
GO
SET IDENTITY_INSERT [dbo].[Modulo_64PR] ON 

INSERT [dbo].[Modulo_64PR] ([Id_modulo], [Nombre]) VALUES (4, N'Gestion de familias')
INSERT [dbo].[Modulo_64PR] ([Id_modulo], [Nombre]) VALUES (3, N'Gestion de roles')
INSERT [dbo].[Modulo_64PR] ([Id_modulo], [Nombre]) VALUES (2, N'Gestion de usuarios')
SET IDENTITY_INSERT [dbo].[Modulo_64PR] OFF
GO
SET IDENTITY_INSERT [dbo].[Pago] ON 

INSERT [dbo].[Pago] ([IdPago], [IdReserva], [MetodoPago], [Monto], [FechaPago]) VALUES (1, 4, N'Efectivo', CAST(2088000.00 AS Decimal(10, 2)), CAST(N'2026-09-12T21:21:40.547' AS DateTime))
INSERT [dbo].[Pago] ([IdPago], [IdReserva], [MetodoPago], [Monto], [FechaPago]) VALUES (2, 3, N'Efectivo', CAST(16000.00 AS Decimal(10, 2)), CAST(N'2026-09-13T00:25:16.530' AS DateTime))
INSERT [dbo].[Pago] ([IdPago], [IdReserva], [MetodoPago], [Monto], [FechaPago]) VALUES (3, 3, N'Efectivo', CAST(16000.00 AS Decimal(10, 2)), CAST(N'2026-09-13T00:26:56.500' AS DateTime))
SET IDENTITY_INSERT [dbo].[Pago] OFF
GO
SET IDENTITY_INSERT [dbo].[Patente_64PR] ON 

INSERT [dbo].[Patente_64PR] ([ID_Patente], [Nombre]) VALUES (1, N'Crear usuario')
INSERT [dbo].[Patente_64PR] ([ID_Patente], [Nombre]) VALUES (2, N'Desbloquear usuario')
INSERT [dbo].[Patente_64PR] ([ID_Patente], [Nombre]) VALUES (3, N'Modificar usuario')
SET IDENTITY_INSERT [dbo].[Patente_64PR] OFF
GO
SET IDENTITY_INSERT [dbo].[Reserva] ON 

INSERT [dbo].[Reserva] ([IdReserva], [FechaCheckIn], [FechaCheckOut], [CantidadPersonas], [Estado], [IdHabitacion], [IdHuesped], [FechaAlta]) VALUES (1, CAST(N'2026-09-11' AS Date), CAST(N'2026-09-12' AS Date), 1, N'Finalizada', 18, 8, CAST(N'2026-09-10T17:30:14.940' AS DateTime))
INSERT [dbo].[Reserva] ([IdReserva], [FechaCheckIn], [FechaCheckOut], [CantidadPersonas], [Estado], [IdHabitacion], [IdHuesped], [FechaAlta]) VALUES (2, CAST(N'2026-09-11' AS Date), CAST(N'2026-09-20' AS Date), 1, N'Finalizada', 9, 8, CAST(N'2026-09-11T13:23:23.960' AS DateTime))
INSERT [dbo].[Reserva] ([IdReserva], [FechaCheckIn], [FechaCheckOut], [CantidadPersonas], [Estado], [IdHabitacion], [IdHuesped], [FechaAlta]) VALUES (3, CAST(N'2026-09-11' AS Date), CAST(N'2026-09-13' AS Date), 1, N'Finalizada', 9, 10, CAST(N'2026-09-11T17:12:23.653' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reserva] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles_64PR] ON 

INSERT [dbo].[Roles_64PR] ([ID_Rol], [Nombre]) VALUES (1, N'Basico')
INSERT [dbo].[Roles_64PR] ([ID_Rol], [Nombre]) VALUES (2, N'Administrador')
SET IDENTITY_INSERT [dbo].[Roles_64PR] OFF
GO
INSERT [dbo].[RolPatente_64PR] ([ID_Rol], [ID_Patente]) VALUES (2, 1)
INSERT [dbo].[RolPatente_64PR] ([ID_Rol], [ID_Patente]) VALUES (2, 2)
INSERT [dbo].[RolPatente_64PR] ([ID_Rol], [ID_Patente]) VALUES (2, 3)
GO
SET IDENTITY_INSERT [dbo].[TipoEvento_64PR] ON 

INSERT [dbo].[TipoEvento_64PR] ([Id_tipo], [Nombre]) VALUES (1, N'Login exitoso')
INSERT [dbo].[TipoEvento_64PR] ([Id_tipo], [Nombre]) VALUES (2, N'Cambio de clave')
INSERT [dbo].[TipoEvento_64PR] ([Id_tipo], [Nombre]) VALUES (3, N'Login fallido')
SET IDENTITY_INSERT [dbo].[TipoEvento_64PR] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoHabitacion] ON 

INSERT [dbo].[TipoHabitacion] ([IdTipoHabitacion], [Descripcion], [Capacidad], [PrecioPorNoche], [Activo]) VALUES (1, N'Individual', 1, CAST(8000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[TipoHabitacion] ([IdTipoHabitacion], [Descripcion], [Capacidad], [PrecioPorNoche], [Activo]) VALUES (2, N'Doble', 2, CAST(12000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[TipoHabitacion] ([IdTipoHabitacion], [Descripcion], [Capacidad], [PrecioPorNoche], [Activo]) VALUES (3, N'Triple', 3, CAST(16000.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[TipoHabitacion] OFF
GO
INSERT [dbo].[USUARIO_64PR] ([DNI], [Apellido], [Nombre], [Login], [Contraseña], [Rol], [Email], [Bloqueo], [Activo], [Intentos], [PrimeraVez], [Idioma]) VALUES (N'00000000', N'admin', N'admin', N'admin', 0x9BECE3951D133F985BF26F8F2C09499F6BFF426CE03896A649D09DE5BA6809955CCCF912308A6D1318C30EBB071026D0, 2, N'n5FBjHrHRuy7D+iU3r3VTmjZjkS/gGuwDZsmzaaPdBw=', 0, 1, 0, 0, N'es')
GO
/****** Objeto: Index [UQ_Habitacion_Numero] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[Habitacion] ADD  CONSTRAINT [UQ_Habitacion_Numero] UNIQUE NONCLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Huesped__C0308575CC22CE0F] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[Huesped] ADD UNIQUE NONCLUSTERED 
(
	[Dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Modulo_6__75E3EFCF0D48D962] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[Modulo_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Modulo_6__75E3EFCF13628DEC] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[Modulo_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Modulo_6__75E3EFCF46C32A5A] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[Modulo_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Modulo_6__75E3EFCF6C23E15D] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[Modulo_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Modulo_6__75E3EFCF7A4BC458] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[Modulo_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Modulo_6__75E3EFCF8C0A7288] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[Modulo_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Modulo_6__75E3EFCFB637F41B] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[Modulo_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Modulo_6__75E3EFCFBDAB5A72] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[Modulo_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Modulo_6__75E3EFCFBFF01AB8] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[Modulo_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Modulo_6__75E3EFCFCDCF307B] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[Modulo_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Modulo_6__75E3EFCFD65B04B9] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[Modulo_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Modulo_6__75E3EFCFDB484F7D] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[Modulo_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___5E55825B0F9B6DA0] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___5E55825B1B12CB0E] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___5E55825B44B7D389] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___5E55825B4702C281] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___5E55825B4A1A50D6] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___5E55825B60AF4A16] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___5E55825B654A3B18] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___5E55825B8EB055E7] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___5E55825B9B2A87DB] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___5E55825BA810F433] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___5E55825BCAF3F109] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___5E55825BFA0E597C] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___A9D105340F525C39] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___A9D105341B45A2C1] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___A9D10534620DC53C] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___A9D10534912DAB86] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___A9D105349139E0B4] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___A9D10534A0208FFC] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___A9D10534A2358193] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___A9D10534AE43CC28] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___A9D10534CD6434CA] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___A9D10534D34E9C34] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___A9D10534F4044F78] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___A9D10534FB5B6AB5] Fecha de script: 23/9/2026 23:32:21 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Evento_64PR] ADD  CONSTRAINT [DF_Bitacora_Fecha]  DEFAULT (CONVERT([date],getdate())) FOR [Fecha]
GO
ALTER TABLE [dbo].[Evento_64PR] ADD  CONSTRAINT [DF_Bitacora_Hora]  DEFAULT (CONVERT([time],getdate())) FOR [Hora]
GO
ALTER TABLE [dbo].[Habitacion] ADD  DEFAULT ('Disponible') FOR [Estado]
GO
ALTER TABLE [dbo].[Habitacion] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Huesped] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Pago] ADD  DEFAULT (getdate()) FOR [FechaPago]
GO
ALTER TABLE [dbo].[Reserva] ADD  DEFAULT ('Confirmada') FOR [Estado]
GO
ALTER TABLE [dbo].[Reserva] ADD  DEFAULT (getdate()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[TipoHabitacion] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[USUARIO_64PR] ADD  DEFAULT ((0)) FOR [Bloqueo]
GO
ALTER TABLE [dbo].[USUARIO_64PR] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[USUARIO_64PR] ADD  DEFAULT ((0)) FOR [Intentos]
GO
ALTER TABLE [dbo].[USUARIO_64PR] ADD  DEFAULT ((1)) FOR [PrimeraVez]
GO
ALTER TABLE [dbo].[USUARIO_64PR] ADD  DEFAULT ('es') FOR [Idioma]
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Evento] FOREIGN KEY([Id_Tipo])
REFERENCES [dbo].[TipoEvento_64PR] ([Id_tipo])
GO
ALTER TABLE [dbo].[Evento_64PR] CHECK CONSTRAINT [FK_Bitacora_Evento]
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Modulo] FOREIGN KEY([Id_modulo])
REFERENCES [dbo].[Modulo_64PR] ([Id_modulo])
GO
ALTER TABLE [dbo].[Evento_64PR] CHECK CONSTRAINT [FK_Bitacora_Modulo]
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([Login])
REFERENCES [dbo].[USUARIO_64PR] ([Login])
GO
ALTER TABLE [dbo].[Evento_64PR] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaPadre])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaHija])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaPadre])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaHija])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaPadre])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaHija])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaPadre])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaHija])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaPadre])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaHija])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaPadre])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaHija])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaPadre])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaHija])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaPadre])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaHija])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaPadre])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaHija])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaPadre])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaHija])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaPadre])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaHija])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaPadre])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaHija])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaN_Hija] FOREIGN KEY([ID_FamiliaHija])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR] CHECK CONSTRAINT [FK_FamiliaN_Hija]
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaN_Padre] FOREIGN KEY([ID_FamiliaPadre])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Familia_N_64PR] CHECK CONSTRAINT [FK_FamiliaN_Padre]
GO
ALTER TABLE [dbo].[Habitacion]  WITH CHECK ADD  CONSTRAINT [FK_Habitacion_TipoHabitacion] FOREIGN KEY([IdTipoHabitacion])
REFERENCES [dbo].[TipoHabitacion] ([IdTipoHabitacion])
GO
ALTER TABLE [dbo].[Habitacion] CHECK CONSTRAINT [FK_Habitacion_TipoHabitacion]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Reserva] FOREIGN KEY([IdReserva])
REFERENCES [dbo].[Reserva] ([IdReserva])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_Reserva]
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD  CONSTRAINT [FK_PatenteFamilia_Familia] FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR] CHECK CONSTRAINT [FK_PatenteFamilia_Familia]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Habitacion] FOREIGN KEY([IdHabitacion])
REFERENCES [dbo].[Habitacion] ([IdHabitacion])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Habitacion]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Huesped] FOREIGN KEY([IdHuesped])
REFERENCES [dbo].[Huesped] ([IdHuesped])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Huesped]
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD  CONSTRAINT [FK_RolFamilia_Familia] FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolFamilia_64PR] CHECK CONSTRAINT [FK_RolFamilia_Familia]
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD  CONSTRAINT [FK_RolFamilia_Rol] FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolFamilia_64PR] CHECK CONSTRAINT [FK_RolFamilia_Rol]
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD  CONSTRAINT [FK_RolPatente_Rol] FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolPatente_64PR] CHECK CONSTRAINT [FK_RolPatente_Rol]
GO
ALTER TABLE [dbo].[USUARIO_64PR]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[USUARIO_64PR] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD CHECK  (([criticidad]>=(1) AND [criticidad]<=(5)))
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD CHECK  (([criticidad]>=(1) AND [criticidad]<=(5)))
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD CHECK  (([criticidad]>=(1) AND [criticidad]<=(5)))
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD CHECK  (([criticidad]>=(1) AND [criticidad]<=(5)))
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD CHECK  (([criticidad]>=(1) AND [criticidad]<=(5)))
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD CHECK  (([criticidad]>=(1) AND [criticidad]<=(5)))
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD CHECK  (([criticidad]>=(1) AND [criticidad]<=(5)))
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD CHECK  (([criticidad]>=(1) AND [criticidad]<=(5)))
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD CHECK  (([criticidad]>=(1) AND [criticidad]<=(5)))
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD CHECK  (([criticidad]>=(1) AND [criticidad]<=(5)))
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD CHECK  (([criticidad]>=(1) AND [criticidad]<=(5)))
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD CHECK  (([criticidad]>=(1) AND [criticidad]<=(5)))
GO
ALTER TABLE [dbo].[Habitacion]  WITH CHECK ADD CHECK  (([Estado]='Mantenimiento' OR [Estado]='Ocupada' OR [Estado]='Disponible'))
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD CHECK  (([MetodoPago]='Transferencia' OR [MetodoPago]='Tarjeta De Credito' OR [MetodoPago]='Tarjeta De Debito' OR [MetodoPago]='Efectivo'))
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD CHECK  (([Estado]='Cancelada' OR [Estado]='Finalizada' OR [Estado]='EnCurso' OR [Estado]='Confirmada'))
GO
/****** Objeto: StoredProcedure [dbo].[sp_ConfirmarCheckIn] Fecha de script: 23/9/2026 23:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ConfirmarCheckIn]
    @IdReserva INT
AS
BEGIN
    DECLARE @IdHabitacion INT;
    SELECT @IdHabitacion = IdHabitacion FROM Reserva WHERE IdReserva = @IdReserva;

    UPDATE Reserva SET Estado = 'EnCurso' WHERE IdReserva = @IdReserva;
    UPDATE Habitacion SET Estado = 'Ocupada' WHERE IdHabitacion = @IdHabitacion;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ConfirmarCheckout] Fecha de script: 23/9/2026 23:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ConfirmarCheckout]
    @IdReserva INT
AS
BEGIN
    DECLARE @IdHabitacion INT;
    SELECT @IdHabitacion = IdHabitacion FROM Reserva WHERE IdReserva = @IdReserva;

    UPDATE Reserva SET Estado = 'Finalizada' WHERE IdReserva = @IdReserva;
    UPDATE Habitacion SET Estado = 'Disponible' WHERE IdHabitacion = @IdHabitacion;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_EliminarHabitacion] Fecha de script: 23/9/2026 23:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_EliminarHabitacion]
    @IdHabitacion INT
AS
BEGIN
    IF EXISTS (
        SELECT 1 FROM Reserva 
        WHERE IdHabitacion = @IdHabitacion 
        AND Estado IN ('Confirmada', 'EnCurso')
    )
    BEGIN
        RAISERROR(50001, 16, 1)
        RETURN
    END

    UPDATE Habitacion SET Activo = 0 WHERE IdHabitacion = @IdHabitacion
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_EliminarHuesped] Fecha de script: 23/9/2026 23:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_EliminarHuesped]
    @IdHuesped INT
AS
BEGIN
    UPDATE Huesped SET Activo = 0 WHERE IdHuesped = @IdHuesped
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_EliminarTipoHabitacion] Fecha de script: 23/9/2026 23:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_EliminarTipoHabitacion]
    @IdTipoHabitacion INT
AS
BEGIN
    UPDATE TipoHabitacion SET Activo = 0 WHERE IdTipoHabitacion = @IdTipoHabitacion
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ListarHabitacionesParaReserva] Fecha de script: 23/9/2026 23:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ListarHabitacionesParaReserva]
    @fechaInicio DATE,
    @fechaFin DATE,
    @capacidad INT
AS
BEGIN
    SELECT
        h.IdHabitacion,
        h.Numero,
        h.Descripcion,
        h.Estado,
        th.IdTipoHabitacion,
        th.Descripcion AS DescripcionTipo,
        th.Capacidad,
        th.PrecioPorNoche
    FROM Habitacion h
    INNER JOIN TipoHabitacion th ON h.IdTipoHabitacion = th.IdTipoHabitacion
    WHERE th.Capacidad >= @capacidad
    AND h.Estado != 'Mantenimiento'
    AND h.IdHabitacion NOT IN (
        SELECT r.IdHabitacion FROM Reserva r
        WHERE r.Estado IN ('Confirmada', 'EnCurso')
        AND r.FechaCheckIn < @fechaFin
        AND r.FechaCheckOut > @fechaInicio
    )
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ListarHuespedes] Fecha de script: 23/9/2026 23:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ListarHuespedes]
AS
BEGIN
    SELECT
        IdHuesped, Dni, Nombre, Apellido, FechaNacimiento, CorreoElectronico, Telefono, Activo
    FROM Huesped
    WHERE Activo = 1
    ORDER BY Apellido, Nombre
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ListarReservasCheckInHoy] Fecha de script: 23/9/2026 23:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ListarReservasCheckInHoy]
AS
BEGIN
    SELECT 
        r.IdReserva, r.FechaCheckIn, r.FechaCheckOut, r.CantidadPersonas, 
        h.IdHabitacion, h.Numero, h.Descripcion AS DescHabitacion, h.Estado AS EstadoHabitacion,
        th.IdTipoHabitacion, th.Descripcion AS DescTipoHabitacion, th.Capacidad, th.PrecioPorNoche,
        hu.IdHuesped, hu.Dni, hu.Nombre, hu.Apellido, hu.FechaNacimiento, hu.CorreoElectronico, hu.Telefono
    FROM Reserva r
    INNER JOIN Habitacion h ON r.IdHabitacion = h.IdHabitacion
    INNER JOIN TipoHabitacion th ON h.IdTipoHabitacion = th.IdTipoHabitacion
    INNER JOIN Huesped hu ON r.IdHuesped = hu.IdHuesped
    WHERE r.FechaCheckIn <= CONVERT(date, GETDATE()) AND r.Estado = 'Confirmada'
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ListarReservasParaCheckout] Fecha de script: 23/9/2026 23:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ListarReservasParaCheckout]
AS
BEGIN
    SELECT 
        r.IdReserva, r.FechaCheckIn, r.FechaCheckOut, r.CantidadPersonas, 
        h.IdHabitacion, h.Numero, h.Descripcion AS DescHabitacion, h.Estado AS EstadoHabitacion,
        th.IdTipoHabitacion, th.Descripcion AS DescTipoHabitacion, th.Capacidad, th.PrecioPorNoche,
        hu.IdHuesped, hu.Dni, hu.Nombre, hu.Apellido, hu.FechaNacimiento, hu.CorreoElectronico, hu.Telefono
    FROM Reserva r
    INNER JOIN Habitacion h ON r.IdHabitacion = h.IdHabitacion
    INNER JOIN TipoHabitacion th ON h.IdTipoHabitacion = th.IdTipoHabitacion
    INNER JOIN Huesped hu ON r.IdHuesped = hu.IdHuesped
    WHERE r.Estado = 'EnCurso'
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ListarTipoHabitacion] Fecha de script: 23/9/2026 23:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ListarTipoHabitacion]
AS
BEGIN
    SELECT IdTipoHabitacion, Descripcion, Capacidad, PrecioPorNoche, Activo
    FROM TipoHabitacion
    WHERE Activo = 1
    ORDER BY Descripcion
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ListarTodasHabitaciones] Fecha de script: 23/9/2026 23:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ListarTodasHabitaciones]
AS
BEGIN
    SELECT
        h.IdHabitacion,
        h.Numero,
        h.Descripcion,
        h.Estado,
        h.Activo,
        th.IdTipoHabitacion,
        th.Descripcion AS DescripcionTipo,
        th.Capacidad,
        th.PrecioPorNoche
    FROM Habitacion h
    INNER JOIN TipoHabitacion th ON h.IdTipoHabitacion = th.IdTipoHabitacion
    ORDER BY h.Numero
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ModificarHabitacion] Fecha de script: 23/9/2026 23:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ModificarHabitacion]
    @IdHabitacion INT,
    @Numero INT,
    @Descripcion VARCHAR(100) = NULL,
    @IdTipoHabitacion INT
AS
BEGIN
    UPDATE Habitacion
    SET Numero = @Numero,
        Descripcion = @Descripcion,
        IdTipoHabitacion = @IdTipoHabitacion
    WHERE IdHabitacion = @IdHabitacion
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ModificarHuesped] Fecha de script: 23/9/2026 23:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ModificarHuesped]
    @IdHuesped INT,
    @Dni VARCHAR(10),
    @Nombre VARCHAR(50),
    @Apellido VARCHAR(50),
    @FechaNacimiento DATE,
    @CorreoElectronico VARCHAR(100) = NULL,
    @Telefono VARCHAR(20) = NULL
AS
BEGIN
    UPDATE Huesped
    SET Dni = @Dni,
        Nombre = @Nombre,
        Apellido = @Apellido,
        FechaNacimiento = @FechaNacimiento,
        CorreoElectronico = @CorreoElectronico,
        Telefono = @Telefono
    WHERE IdHuesped = @IdHuesped
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ModificarTipoHabitacion] Fecha de script: 23/9/2026 23:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ModificarTipoHabitacion]
    @IdTipoHabitacion INT,
    @Descripcion VARCHAR(50),
    @Capacidad INT,
    @PrecioPorNoche DECIMAL(10,2)
AS
BEGIN
    UPDATE TipoHabitacion
    SET Descripcion = @Descripcion,
        Capacidad = @Capacidad,
        PrecioPorNoche = @PrecioPorNoche
    WHERE IdTipoHabitacion = @IdTipoHabitacion
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_RegistrarHabitacion] Fecha de script: 23/9/2026 23:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_RegistrarHabitacion]
    @Numero INT,
    @Descripcion VARCHAR(100) = NULL,
    @IdTipoHabitacion INT,
    @IdHabitacionGenerada INT OUTPUT
AS
BEGIN
    INSERT INTO Habitacion (Numero, Descripcion, IdTipoHabitacion)
    VALUES (@Numero, @Descripcion, @IdTipoHabitacion);

    SET @IdHabitacionGenerada = CAST(SCOPE_IDENTITY() AS INT);
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_RegistrarHuesped] Fecha de script: 23/9/2026 23:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_RegistrarHuesped]
    @Dni VARCHAR(10),
    @Nombre VARCHAR(50),
    @Apellido VARCHAR(50),
    @FechaNacimiento DATE,
    @CorreoElectronico VARCHAR(100) = NULL,
    @Telefono VARCHAR(20) = NULL,
    @IdHuespedGenerado INT OUTPUT
AS
BEGIN
    INSERT INTO Huesped (Dni, Nombre, Apellido, FechaNacimiento, CorreoElectronico, Telefono)
    VALUES (@Dni, @Nombre, @Apellido, @FechaNacimiento, @CorreoElectronico, @Telefono);

    SET @IdHuespedGenerado = CAST(SCOPE_IDENTITY() AS INT);
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_RegistrarPago] Fecha de script: 23/9/2026 23:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_RegistrarPago]
    @IdReserva INT,
    @MetodoPago VARCHAR(20),
    @Monto DECIMAL(10,2)
AS
BEGIN
    INSERT INTO Pago (IdReserva, MetodoPago, Monto)
    VALUES (@IdReserva, @MetodoPago, @Monto);
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_RegistrarReserva] Fecha de script: 23/9/2026 23:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
-- =========================================
-- SP: sp_RegistrarReserva
-- =========================================
CREATE PROCEDURE [dbo].[sp_RegistrarReserva]
    @FechaCheckIn DATE,
    @FechaCheckOut DATE,
    @CantidadPersonas INT,
    @IdHabitacion INT,
    @IdHuesped INT,
    @IdReservaGenerada INT OUTPUT
AS
BEGIN
    INSERT INTO Reserva (FechaCheckIn, FechaCheckOut, CantidadPersonas, IdHabitacion, IdHuesped)
    VALUES (@FechaCheckIn, @FechaCheckOut, @CantidadPersonas, @IdHabitacion, @IdHuesped);

    SET @IdReservaGenerada = CAST(SCOPE_IDENTITY() AS INT);
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_RegistrarTipoHabitacion] Fecha de script: 23/9/2026 23:32:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_RegistrarTipoHabitacion]
    @Descripcion VARCHAR(50),
    @Capacidad INT,
    @PrecioPorNoche DECIMAL(10,2),
    @IdTipoHabitacionGenerado INT OUTPUT
AS
BEGIN
    INSERT INTO TipoHabitacion (Descripcion, Capacidad, PrecioPorNoche)
    VALUES (@Descripcion, @Capacidad, @PrecioPorNoche);

    SET @IdTipoHabitacionGenerado = CAST(SCOPE_IDENTITY() AS INT);
END
GO
USE [master]
GO
